header.jumbotron.subhead
  div.container
    h1 About

div.container
  section
    p.lead Poultry Power USA, a privately held renewable energy company, is headquartered in Jacksonville, Fla. A subsidiary of Green Frontiers Energy Group, Poultry Power USA utilizes poultry litter and advanced gasification technology to provide environmentally clean electricity. Poultry Power USA is proud to be the Renewable Energy Solution.