header.jumbotron.subhead
  div.container
    h1 For Integrators and Growers
    p.lead We offer many benefits for affiliates

div.container
  section
    ul
      li.lead We provide service to clean-out and re-bed poultry houses.
      li.lead We offer a bedding lease program to lower capital expenditures for bedding.
      li.lead We have a dedicated plant to provide pine shavings for bedding materials.
      li.lead The sanitization facility is located inside plant to ensure no cross contamination.
      li.lead Litter removal is via state-of-the-art equipment so that litter never touches the ground.
      li.lead Bedding material placed in houses will not touch exterior ground.
      li.lead Provide more frequent clean out of grower houses.
      li.lead 365 day per year availability for clean out scheduling.
      li.lead Byproduct of the gasification process is a biochar product that will be beneficial to farmers.
      li.lead Poultry Power USA will accept liability of litter.