header.jumbotron.subhead
  div.container
    h1 The Renewable Energy Solution
    p.lead Turning Poultry Litter into Power
    
div.container
  section
    p.lead Poultry Power USA generates and supplies electricity using poultry litter, a renewable resource. Our power plants offer a solution to the challenges of poultry litter disposal by utilizing advanced gasification technology to create clean renewable energy.
    p.lead To reduce our carbon footprint, we chose a 36 MW plant configuration, allowing us to keep the poultry litter circle of acquisition to the smallest possible area.
    p.lead Our power plants benefit all segments of the poultry industry, from the integrators down to the individual growers.