div.navbar.navbar-fixed-top
  div.navbar-inner.main-nav
    div.container
      img(src="/img/logo-trans.png").brand
      ul.nav
        li.active 
          a(href="#home", data-toggle="tab") Home
        li 
          a(href="#growers", data-toggle="tab") For Integrators/Growers
      
  